.biodata{
    color: white;
}
.title_biodata {
    margin-bottom: 4rem;
}
.mainbiodata {
    margin-bottom: 3rem;
}
.backgroundtext {
    font-size: 5rem;
    background: url('../homepage/assets_firstpage/main_backrgound.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.fotodiri {
    border-radius: 50px;
}