.background1{
    /* background-image: url('../../asset/main_background_4.jpg');
        background-size:100% 100%; 
        background-attachment: fixed; */
        background-color: transparent;
        width: 100%;
}