.backgroundcolor {
    background-color: transparent;
    color: white;
}
.footer {
    display: inline-table;
    color: white;
}
.footer a {
    margin-right: 1rem;
}
.instagram {
    margin-left: 0px;
    margin-right: 10px;
}
.linkedin {
    margin-left: 10px;
}