.navbar h6 {
    margin-left: 5rem;
    color: white;
}
.header {
    margin-top: 1rem;
    margin-left: 15rem;
    background-color: transparent;
}
.link{
    display: inline-table;
    list-style: none;
    margin-right: 5rem;
    color: white;
}