.navbar h6 {
    margin-left: 5rem;
    color: white;
}
.header {
    margin-top: 1rem;
    margin-left: 15rem;
    background-color: transparent;
}
.link{
    display: inline-table;
    list-style: none;
    margin-right: 5rem;
    color: white;
}

.backgroundpict {
    background-image: url('../asset/main_background_7.jpg');
        background-size: 100% 100%; 
        background-attachment: fixed;
   height: 100%;
   width: 100%;
} 
.navbar {
    background-image: url('../asset/main_background_7.jpg');
        background-size: 100% 100%; 
        background-attachment: fixed;
   height: 100%;
}

.link:hover{
    color: gold;
    text-decoration: none;
}